
<nav class="navbar">
    <span class="navbar-toggle" id="js-navbar-toggle">
        <i class="fas fa-bars"></i>
    </span>
    <a href="#" class="logo">
        <img width="300" src="../../../assets/images/logo.jpg">
    </a>
    <ul class="main-nav" id="js-menu">
        <li>
            <a href="javascript:void(0)" (click)="useLanguage('en')" class="nav-links">En</a>
        </li>
        <li>
            <a href="javascript:void(0)" (click)="useLanguage('fr')" class="nav-links">Fr</a>
        </li>
    </ul>
</nav>

