.invalid-feedback {
    font-size: 80%;
    color: #d45e309d;
}

.modal-content{
    button{
        margin: 10px;
    }
}

label {
    text-transform: uppercase;
}

button{
    text-transform: uppercase;
}